.log-list-container {
  @extend .callout;
  border-radius: 5px;
  box-shadow: inset 0 0 10px  rgb(193, 193, 193);
  border: none;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.94);
}

.log-list {
  @extend .grid-x;
  @extend .grid-margin-x;
  border-radius: 10px;
}

.log-tile {
  @extend .cell;
  @extend .small-12;
  @extend .large-6;
  border-radius: 10px;
  font-size: 1.3em;
}

td {
  color: black;
}
