.form {
  @extend .callout;
  @extend .cell;
  @extend .large-6;
  @extend .small-12;
  width: 250px;
  max-width: 500px;
  position: center;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(193, 193, 193);
}

.sign-form {
  @extend .callout;
  max-width: 500px;
  margin: auto;
  margin-top: 30vh;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(193, 193, 193);
}

.my-icon {
  margin-left: 8px;
}

.my-icon:hover {
  color: rgb(110, 110, 110);
}

.table-container {
  @extend .form;
  padding: 5px;
}

.table-wrapper {
  @extend .align-center;
  @extend .large-6;
  @extend .cell;
  overflow: scroll;
  max-height: 250px;
  max-width: 500px;
  border-radius: 5px;
}

.entry-table {
  box-shadow: 0 0 5px rgb(208, 208, 208);
  border-radius: 5px;
  max-width: 500px;
}

.table-element {
  min-width: 40px;
  border-radius: 5px;
}

.reference {
  float: right;
  padding: 20px 20px 0 20px;
  margin: 20px 0 0 0;
  font-size: small;
}