.menu-link {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0px 0px;
  color: #0DA358;
}

.my-menu-text {
  @extend .menu-text;
  font-size: 1.3em;
  background-color: rgba(255, 255, 255, 0);
}

.my-top-bar {
  @extend .top-bar;
  @extend .callout;
  background-color: rgba(255, 255, 255, 0.94);
  border: none;
  box-shadow: 0 0 2px rgb(109, 109, 109);
}

ul.menu {
  background-color: rgba(255, 255, 255, 0);
}