.menu-link {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0px 0px;
  color: #088046;
}

.my-menu-text {
  @extend .menu-text;
  font-size: 1.3em;
}

.my-top-bar {
  @extend .top-bar;
  @extend .callout;
}